#!/bin/bash

mysql -uroot -p{{ accu_mariadb_admin_pass }} <<EOF
CREATE DATABASE IF NOT EXISTS {{ accu_keycloak_db_name }};
GRANT ALL ON {{ accu_keycloak_db_name }}.* TO {{ accu_keycloak_db_user }} IDENTIFIED BY '{{ accu_keycloak_db_pass }}';
FLUSH PRIVILEGES;
EOF

