---
#
# kubeadm config print join-defaults
# https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2
#
apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ ext_lb_fqdn }}:{{ ext_lb_port }}
    token: accuxx.0123456789abcdef
    unsafeSkipCAVerification: true
  timeout: 5m0s
  tlsBootstrapToken: accuxx.0123456789abcdef
nodeRegistration:
  criSocket: {{ default_cri_socket[kube_cri] }}

