[req]
default_bits       = {{ accu_certificates_bits }}
default_md         = sha256
distinguished_name = req_dn
req_extensions     = req_ext

[req_dn]
C  = KR
ST =
L  =
O  = SK holdings C&C 
OU =
CN = {{ kube_default_domain }}

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.{{ kube_default_domain }}
DNS.2 = gcr.io
DNS.3 = *.gcr.io
DNS.4 = quay.io
DNS.5 = *.quay.io
DNS.6 = docker.io
DNS.7 = *.docker.io
