--- config.toml.org	2021-09-02 01:11:45.868080285 +0900
+++ config.toml.new	2021-09-02 01:18:01.910511786 +0900
@@ -70,7 +70,7 @@
     ignore_image_defined_volumes = false
     [plugins."io.containerd.grpc.v1.cri".containerd]
       snapshotter = "overlayfs"
-      default_runtime_name = "runc"
+      default_runtime_name = "nvidia"
       no_pivot = false
       disable_snapshot_annotations = true
       discard_unpacked_layers = false
@@ -87,6 +87,15 @@
         privileged_without_host_devices = false
         base_runtime_spec = ""
       [plugins."io.containerd.grpc.v1.cri".containerd.runtimes]
+        [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.nvidia]
+          runtime_type = "io.containerd.runc.v2"
+          runtime_engine = ""
+          runtime_root = ""
+          privileged_without_host_devices = false
+          base_runtime_spec = ""
+          [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.nvidia.options]
+            BinaryName = "/usr/bin/nvidia-container-runtime"
+            SystemdCgroup = {% if cri_cgroup_driver == 'systemd' %}true{{'\n'}}{% else %}false{{'\n'}}{% endif %}
         [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
           runtime_type = "io.containerd.runc.v2"
           runtime_engine = ""
