vrrp_script check_k8s_apiserver {
  script "{{ accu_load_balancer_config_location }}/check-k8s-apiserver.sh"
  interval 3
  weight -2
  fall 10
  rise 2
}

vrrp_instance VI_1 {
    state BACKUP
    interface {{ accu_vip_manager_nic }}
    virtual_router_id 1
    priority 100
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass accu-k8s
    }
    virtual_ipaddress {
        {{ accu_load_balancer_vip }} label {{ accu_vip_manager_nic }}:vip
    }
    track_script {
        check_k8s_apiserver
    }
}
