apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/proxy-body-size: "0" 
  name: accu-registry-mirror-q
  namespace: accu-system
spec:
  rules:
  - host: quay.io
    http:
      paths:
      - backend:
          serviceName: accu-registry
          servicePort: 5000
        path: /
        pathType: ImplementationSpecific
